<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3">
    <%= render 'settings/side_menu' %>
  </div>
  <div class="cell small-12 medium-9">
  <div class="setting-container">

<h1>Manage Meal Categories</h1>

<table class="hover">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_categories.each do |meal_category| %>
      <tr>
        <td><%= meal_category.title %></td>
        <td><%= link_to 'Show', meal_category %></td>
        <td><%= link_to 'Edit', edit_meal_category_path(meal_category) %></td>
        <td><%= link_to 'Destroy', meal_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal Category', new_meal_category_path, class: "button success large" %>

</div>
</div>
</div>