<h1><i class="fa fa-cogs"></i> Settings</h1>
<ul class="vertical menu">
	<h4>Meal Settings</h4>
	<li><%= link_to "Manage Meal Categories", meal_categories_path %></li>
	<li><%= link_to "Manage Meal Options", meal_options_path %></li>
	<li><%= link_to "Preload Recipes", preloaded_meals_path %></li>
</ul>
<hr />
<ul class="vertical menu">
	<h4>Site Settings</h4>
	<li><%= link_to "Manage Sites", sites_path %></li>
	<li><%= link_to "Manage Wards", wards_path %></li>
</ul>
<hr />
<ul class="vertical menu">
	<h4>General Settings</h4>
	<li><%= link_to "Customise", sites_path %></li>
</ul>