<div class="added-successfully">
  <i class="fa fa-check-circle"></i> <span>Item Added</span>
</div>

<div class="removed-successfully">
  <i class="fa fa-check-circle"></i> <span>Item Removed</span>
</div>

<div class="off-canvas-wrapper">
<div class="off-canvas-content" data-off-canvas-content>
<div class="grid-x">
  <div class="cell small-12">
    <div class="order-search-box">
    <h3><i class="fa fa-search"></i> Filter By Date</h3>
      <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-6">
          <!-- Date form -->
          <%= form_tag(patient_path(@patient), {:method => :get}) do %>
          <div class="grid-x grid-margin-x">
            <div class="cell auto">
              <%= text_field_tag :filter_date, "",class: "dp1" %>
            </div>
            <div class="cell shrink text-right">
              <%= submit_tag "Change Date", class: "button alert" %>
            </div>
          </div>
          <% end %>
          
        </div>
        
        </div>
        </div>
      </div>
      
    </div>


<div class="intro-bar">
  <h1 class="white-color">Build a daily menu choice form for <%= @patient.first_name %> <%= @patient.last_name %></h1>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3">

  <div class="patient-profile-img" style="position: relative;">
    <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="avatar">
    <% if @patient.allergies.present?%>
    <div class="secondary-color-bg" style="position: absolute; left: 120px; top: 120px; font-size: 20px; width: 40px; height: 40px; border-radius: 50%; text-align: center; padding-top:5px; ">
      <span data-tooltip tabindex="1" title="<%= @patient.allergies %>">
      <i class="fa fa-heartbeat white-color"></i>
      </span>
    </div>
    <% end %>

  </div>
    <table class="f14">

    <tr>
    <td>
      <strong>Name:</strong>
      <%= @patient.first_name %> <%= @patient.last_name %>
      <br /> <%= link_to edit_patient_path(@patient), class: "f12" do %><i class="fa fa-pencil primary-color"></i> EDIT<% end %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Room number:</strong>
      <%= @patient.room_number %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Allergies:</strong>
      <%= @patient.allergies %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Diet type:</strong>
      <%= @patient.diet_type %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Diet texture:</strong>
      <%= @patient.diet_texture %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Fluid consistency:</strong>
      <%= @patient.fluid_consistency %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Fluid restriction:</strong>
      <%= @patient.fluid_restriction %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Likes:</strong>
      <%= @patient.likes %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Dislikes:</strong>
      <%= @patient.dislikes %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Extra information:</strong>
      <%= @patient.extra_information %>
    </td>
    </tr>
  </table>
  </div>
  <div class="cell small-12 medium-6">
  
  <% if params.key?(:filter_date) %>
  <% @filtered_date = (params[:filter_date].to_date).strftime("%Y-%m-%d") %>
  <% @filter_date = params[:filter_date].to_date %>
  <div class="date-subtitle">Currently building a daily menu choice form for <br /><span><%= @filter_date.strftime("%A %d/%b/%Y")%></span></div>
 
  <% else %>

  <% @filtered_date = (Time.now + 1.day).strftime("%Y-%m-%d") %>
  <div class="date-subtitle">Currently building a daily menu choice form for<br /><span> Tomorrow <%= (Time.now + 1.day ).strftime("%A %d/%b/%Y")%></span></div>

   <% end %>

 
<% @order = Order.where(delivery_date: @filtered_date).where(patient_id: @patient.id).last %>
  <% if @order.blank? %>
  <ul class="accordion" data-accordion data-multi-expand="true"  data-allow-all-closed="true">
  <% @meal_options.group_by(&:meal_category).each do |meal_category, meal_option| %>
  <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Add <%= meal_category.title %> Options</a>

        
    <div class="accordion-content" data-tab-content>
      <div class="grid-x grid-margin-x">
        <% meal_option.each do |m| %>
          <div class="cell small-6 medium-4 meal-box" data-open="meal_modal_<%= m.id %>">
            <%= m.title %>
          </div>

          <div class="reveal" id="meal_modal_<%= m.id %>" data-reveal>
            
            <% @tomorrow_date = @filtered_date %>
            <% @meals = Meal.where('available_date = ?', "#{@tomorrow_date}").where(meal_option_id: m.id).all %>
            <% if @meals.blank? %>
              <h3>No menu has been added for this day, <br />please check with your supervisor</h3>
            <% end %>
            <div class="grid-x grid-margin-x">
              <% @meals.each do |meal| %>
                <% @all_ingredients = IngredientPreloadedMeal.where(preloaded_meal_id: meal.preloaded_meal_id).all %>
                <% @dietary_restrictions = DietaryRestriction.where(preloaded_meal_id: meal.preloaded_meal).where(food_texture: @patient.diet_texture).all %>
                <% if @dietary_restrictions.blank? %>
                <div class="cell small-6 medium-6 text-center" style="border:4px solid #e5e5e5; background-color: #f5f5f5; padding: 20px 10px;">
                
                <h2 data-toggle="offCanvas_<%= meal.id %>" ><%= meal.title %> 
                  <span>
                    <i class="fa fa-info-circle" style="color: #4C6EF5;"></i>
                  </span>
                </h2>

                <div class="off-canvas position-left" id="offCanvas_<%= meal.id %>" data-off-canvas style="padding: 20px; font-size: 14px; text-align: left; color: #fff; background-color:#1e252d;">
                  <h2><%= meal.title %></h2>
                  <hr />
                  <h3>Ingredients</h3>
                  <ul class="menu vertical">
                  <% @all_ingredients.each do |ingredient| %>
                    <li><%= ingredient.quantity %>x <%= ingredient.ingredient.title %> <%= ingredient.ingredient.unit_measure %></li>
                  <% end %>
                  </ul>
                  <hr />
                  <h3>Nutritional Panel</h3>
                  <% if meal.preloaded_meal.nutritional_info.present? %>
                  <%= meal.preloaded_meal.nutritional_info.html_safe %>
                  <% end %>
                </div>

                  <%= form_for @patient_meal, :remote => true, :url => patient_patient_meal_path(@patient) do |f| %>
                    <%= f.hidden_field :meal_id, value: meal.id %>
                    <%= f.hidden_field :meal_category_id, value: meal.meal_option.meal_category_id %>
                    <%= f.hidden_field :patient_id, value: @patient.id %>
                    <%= f.hidden_field :meal_option_id, value: meal.meal_option_id %>
                    <%= f.hidden_field :delivery_date, value: @filtered_date %>
                    <%= button_tag type: 'submit', class: "button success expanded large", id: "patient_meal", style:"margin-top: 40px;" do %>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD
                        <% end %>
                  <% end %>

                </div>

                <% else %>

                <% end %>

              <% end %>
            </div>
            
            
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
                
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
  </ul>
  <% end %>
  </div>

  <div class="cell small-12 medium-3">
      <div class="order-fixed">
      <% @patient_meal_items = PatientMeal.where(patient_id: @patient.id).where(delivery_date: @filtered_date).all %>

      <% if @patient_meal_items.blank? %>
      <div class="f14 info-box" style="line-height:16px; padding: 10px; background-color: #f5f5f5; color: #5b696d; margin-bottom: 10px; border: 1px dashed #ccc;">Build a daily choice menu by clicking the blue buttons and selecting the patients meal preferences. Click the "Build Order" button below to submit your order to the kitchen.</div>
      <% end %>


      <h2><i class="fa fa-cart-plus"></i> Your order</h2>    

        <ul class="meal-item-list" style="list-style:none; margin-left:0;">
          <% @patient_meal_items.each do |patient_meal_item| %>
          
          <li id="patient_meal_item_<%= patient_meal_item.id %>">
            <div class="meal-item-order-form">
                <div class="grid-x grid-margin-x">
                  <div class="cell small-12">
                    <span><%= patient_meal_item.meal.meal_option.meal_category.title %></span>
                  </div>
                  <div class="cell small-9">
                    <%= patient_meal_item.meal.title %>
                  </div>
                  <div class="cell small-3">
                    <%= link_to patient_remove_patient_meal_path(patient_meal_item.patient_id,:patient_meal => patient_meal_item.id), class: "alert button small", :remote => true do %> 
                    <i class="fa fa-times"></i>  
                    <% end %>
                  </div>
                </div>
                

                 
            </div>
          </li>
          <% end %>

        </ul>
      

        <br />
        
        <% if @order.blank? %>
        <%= link_to "SUBMIT ORDER", patient_build_order_path(@patient, :filtered_date => @filtered_date, :patient => @patient.id), class: "button large success expanded" %>
        <% else %>
        <div class="order-placed-container"><i class="fa fa-check-circle white-color"></i> This order has been placed</div>
        <% end %>
        </div>
  </div>

</div>

</div>

</div>


