<%= nested_form_for @preloaded_meal do |f| %>
  <% if preloaded_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preloaded_meal.errors.count, "error") %> prohibited this preloaded_meal from being saved:</h2>

      <ul>
      <% preloaded_meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %>
  </div>

  <div class="field">
    <%= f.label :nutritional_info %>
    <%= f.text_area :nutritional_info %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <h2>Restrict Food Textures</h2>

  <%= f.fields_for :dietary_restrictions do |r_form| %>
    <% @food_textures = Patient.all %>
    <%= r_form.collection_select :food_texture, @food_textures.select(:diet_texture).uniq, :diet_texture, :diet_texture %>
    <%= r_form.link_to_remove "Remove this restriction" %>
  <% end %>
  <p><%= f.link_to_add "Add a restriction", :dietary_restrictions %></p>

  <div class="actions">
    <%= f.submit "Add New Recipe", class: "button success large" %>
  </div>
<% end %>
