<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3">
    <%= render 'settings/side_menu' %>
  </div>
  <div class="cell small-12 medium-9">
  <div class="setting-container">

<h1>Manage Preloaded Recipes</h1>

<table class="hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preloaded_meals.each do |preloaded_meal| %>
      <tr>
        <td><%= preloaded_meal.title %></td>
        <td><%= preloaded_meal.notes %></td>
        <td><%= link_to 'Show', preloaded_meal %></td>
        <td><%= link_to 'Edit', edit_preloaded_meal_path(preloaded_meal) %></td>
        <td><%= link_to 'Destroy', preloaded_meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preloaded Meal', new_preloaded_meal_path, class: "button large success" %>

<hr />
<h2>IMPORT </h2>
<%= form_tag import_preloaded_meals_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

</div></div></div>
