
<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <label>Select a preloaded meal to add</label>
    <%= f.collection_select(:preloaded_meal_id, PreloadedMeal.all, :id, :title, {prompt: true}, {class: 'meal_preloaded_meal', style: "width: 100%; height: 80px;"}) %>
  </div>

 
  <% @random_string = SecureRandom.urlsafe_base64(5) %>
  <div class="field">
    <%= f.hidden_field :relationship_code, value: @random_string %>
  </div>

  <div class="field">
    <%= f.hidden_field :available_date, value: @the_date.to_date %>
  </div>

  <div class="field">
    <%= f.hidden_field :the_date, value: @the_date.to_date %>
  </div>

  <div class="field">
    <%= f.hidden_field :meal_option_id, value:  meal_option.id %>
  </div>

  <div class="actions" style="margin-top:20px;">
    <%= f.submit "Add Meal", class: "button success expanded large" %>
  </div>
<% end %>

