<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><img src="http://res.cloudinary.com/theblackandwhites/image/upload/v1522267540/salvation_army/logo-the_salvation_army19082016014456.png" width="70"></li>
    </ul>
  </div>
  <div class="top-bar-right" >
    <ul class="dropdown menu" data-dropdown-menu>
    <% if user_signed_in? %>
      <% if current_user.family_member.blank? %>
        <li style="margin-top:3px;"><%= link_to "Menu Creator", menu_overview_path %></li>
        <li style="margin-top:3px;"><%= link_to "Nurse View", patients_path %></li>
        <li style="margin-top:3px;"><%= link_to "Chef View", display_orders_path %></li>
      <% else %>
        <% @my_guest_patient = Patient.find(current_user.patient_id) %>
        <li style="margin-top:3px;"><%= link_to "Place an order for #{@my_guest_patient.first_name}", patient_path(@my_guest_patient.id), class: "button success large" %></li>
      <% end %>
    <% end %>

      <% if user_signed_in? %>
      <% if current_user.family_member.blank? %>
      <li>
        <div class="button large secondary" data-open="my_account_modal">
        <i class="fa fa-cog" data-open="exampleModal1"></i>
        </div>
        
      </li>
      <% end %>
        
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path)  %>  
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="reveal text-center nav-reveal" id="my_account_modal" data-reveal>
  <h4>What would you like to do?</h4>
  <ul>

    <li><%= link_to "Manage Meals", meals_path %></li>
    <li><%= link_to "Manage Patients", patients_path %></li>
    <li><%= link_to "Manage Sites & Wards", sites_path %></li>
    <li><%= link_to "Edit Personal Settings", edit_user_registration_path %></li>
    <li class="logout-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

  </ul>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>